body {     
    font-family: 'Arial', sans-serif;     
    margin: 0;     
    padding: 0;     
    background-color: #f2f2f2;     
    color: #ecf0f1; 
    } 
    h1 {
        color: #333333 ;
        font-size: 2.5em;
        margin: 0px;
    }
    nav {     
        background-color: #4CAF50;     
        padding: 15px; 
    } 
nav ul {     
        list-style-type: none;     
        margin: 0;     
        padding: 0;      
    } 
    nav ul li {         
        margin-right: 20px; 
    } 
    nav ul li a {     
        color: white;     
        text-decoration: none;     
        font-size: 1.2em;     
        transition: color 1s ease;
        }
    .Indice-section img:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba
    }