*{

}
body {
    background-image: url(imagenes/gi.gif);
}

img {
    width: 150px;
    margin-top: 19px;
}

section#encabezado h1 {
    font-size: 2.9em;
    margin: 0;
    color: white;
}

section#encabezado h2 {
    margin: 1px;
    color: white;
}


h2 {
    text-decoration: underline;
    font-size: 2em;
    color: white;
}

section#encabezado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

section#Datos li {
    font-size: 1.3em;
    margin: 5px;
    color: white;

}

section#formacion li {
    font-size: 1.3em;
    margin: 10px;
    color: white;

}

section#Experiencia h3{
    font-size: 1.4em;
    color: white;
}

section#Experiencia p{
    font-size: 1.2em;
    width: 800px;
    color: white;
    margin-bottom: 50px;
}

footer {
            background-color: #333;
            color: #ecf0f1;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
